[Unit]
Description=uWSGI instance to serve willmap
After=network.target

[Service]

User=willmap
Group=www-data
WorkingDirectory=/home/willmap/willmap
Restart=always
PIDFile=/run/willmap/%I.pid

Environment=XDG_RUNTIME_DIR=/run/willmap
StandardOutput=journal
StandardError=journal
SyslogIdentifier=willmap-uw

#this is generating a tempfs folder if not already existing
PrivateTmp=false
PermissionsStartOnly=true
ExecStartPre=/usr/bin/rm -rf /run/willmap
ExecStartPre=-/usr/bin/mkdir /run/willmap
ExecStartPre=/usr/bin/chown -R bema:www-data /run/willmap
#ExecStartPre=/usr/bin/chmod 7760 /run/webmap
ExecStart=/usr/local/bin/uwsgi --ini wsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID


[Install]
WantedBy=multi-user.target
